@import 'styles.css';

:root {
    --cor-fonte-principal-site: rgb(136, 135, 135);
    --cor-parte-inferior-bordas: 2px solid rgb(224, 221, 221);
    --fontes-em-destaque: black;
    --cor-de-fundo-principal:white;
}


main {
    border-bottom: var(--cor-parte-inferior-bordas);
    color: var(--cor-fonte-principal-site);
    background-color: var(--cor-de-fundo-principal);
}

.imagem-principal {
    margin-top: 5rem;
    height: 250px;
}

@media (max-width: 500px) {
  .imagem-principal {
    height: 200px;
  }
}

.imagem-apresentacao-produto {
    border: 2px solid gray;
    border-radius: 0.2rem;
    margin: 1rem;
}

.imagems-avalicao {
    width: 30px;
}
