@import 'colors.css';
@import 'font.css';

html body {
  background-color: #ebebeb;
  color: #333;
}

input {
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  box-shadow: 1px 1px 2px gray;
}

li {
  line-height: 1.7rem;
}

.logo-width {
  width: 8rem;
}

.logo-text {
  font-family: monospace;
}

.nav-text .nav-text:hover {
  color: darkslategray !important;
}

.list-style-type-none {
  list-style-type: none;
}
